@import "../../styles/variables";

footer.page-footer {
    padding: 0;

    a:hover {
        color: #ffffff !important;
    }
    .valign-wrapper {
        justify-content: space-between;
    }

    li {
        display: block;
        float: left;
        border-left: 1px solid #c3c3c3;

        &:first-child {
            border: 0;
        }
    }

    @media #{$medium-and-down} {
        .copyright,
        .links {
            display: inline-block;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 0px;
            clear: both;
            float: none;
            text-align: center;
        }
        ul {
            margin-top: 12px;

            li {
                float: none;
                display: inline-block;
                margin-bottom: 10px;
            }
        }
        .valign-wrapper {
            display: block;
        }
    }
}
