.footer-link {
    a {
        padding: 0 12px;
        transition: 0.5s;

        &.youtube:hover {
            color: red !important;
        }
        &.github:hover {
            color: gray !important;
        }
        &.linkedin:hover {
            color: #039be5 !important;
        }
        &.email:hover {
            color: #ffffff !important;
        }
    }
}
