@import "../../styles/theme";
@import "../../styles/variables";

.pictures-gallery {
    &__container {
        @include grid();

        .row {
            margin-bottom: 0;
        }
    }

    .gallery {
        padding: 0 20px 40px 20px;

        .pswp-thumbnails {
            display: flex;
            flex-wrap: wrap;
            margin: 0 10px;
            @media #{$small-and-down} {
                margin: 0 0;
            }

            .pswp-thumbnail {
                display: flex;
                border: 0;
                height: 200px;
                flex-grow: 1;
                margin: 5px;
                cursor: pointer;

                transition: transform 0.25s;
                &:hover {
                    transform: scale(1.05);
                }

                img {
                    flex-grow: 1;
                    object-fit: cover;
                    border-radius: 5px;
                    height: 100%;
                    @media #{$small-and-down} {
                        width: 100%;
                    }
                }
            }
        }
    }
}
