$montserrat-font-path: "./styles/fonts/montserrat/webfonts";
@import "./fonts/montserrat/scss/montserrat";

$roboto-font-path: "./styles/fonts/roboto/webfonts";
@import "./fonts/roboto/scss/roboto";

html {
  @apply text-root font-mono leading-normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @screen sm {
    font-size: 16px;
  }
}

body {
  @apply overflow-x-hidden;
}

p {
  @apply mb-2;
}

// .container {
//   @apply mx-20;
// }
