// Colors (keep in sync with /tailwind.config.js config)
$black: #000;
$white: #fff;

$greenery: #0f6973;
$greenery-50: #ebf5f2;
$greenery-100: #d9e4e3;
$greenery-200: #b8d0d1;
$greenery-300: #80aeb1;
$greenery-400: #488c92;
$greenery-600: #0f555f;
$greenery-700: #0a414b;
$greenery-800: #05373c;

$peachy: #f5a08c;
$peachy-50: #faebe6;
$peachy-100: #f8e5df;
$peachy-200: #fad7d2;
$peachy-300: #f5beaf;
$peachy-400: #f5a591;
$peachy-600: #ec917d;
$peachy-700: #e1826e;
$peachy-800: #d7735f;

$gray: #e4e3e2;
$charcoal: #55585d;
$gallery: #ebefed;
$marble: #f3f7f9;
$snow: #fbfaf7;
