.project-card {
    .card-title {
        margin: 0 !important;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__logo {
        margin-right: 10px;
        height: 48px;
        width: 48px;
    }

    &__description {
        font-size: 15px;
    }

    .card-action a {
        color: #116b5b !important;
        font-weight: 500 !important;
        text-transform: capitalize !important;
        font-size: 13pt !important;
    }

    .project-prizes {
        svg {
            color: #e8ad00;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}
