@import "styles/imports";

html,
body,
#root {
    // height: 100%;
    // background-color: $background;
    margin: 0;
    padding: 0;
}

.section {
    padding: 0;
    .container {
        display: table;
    }
}

::selection {
    background: #2a7bd0;
    color: white;
}
