@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 255 115 179;
  --color-secondary: 111 114 185;
}

body {
  @apply font-roboto font-light text-gray-800;
}

html,
body,
#root {
  height: 100%;
}
